body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}
p {
    color: #ca1313;
    text-align: center;
    font-size: 18px; 
} 
img {
    display: block;
    margin: 20px auto;
    max-width: 200px;
    border-radius: 50%;
} 
.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0077b5;
    border: none;
    border-radius: 20px;
    cursor: pointer; 
    cursor: pointer; 
    text-align: middle;
    place-content: center;
    align-items: center;
}
.button:hover .btn-text{
    text-shadow: #00a0dc rgb(207, 18, 18);
    animation: flicker 1s infinite;
}
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
} 
.button:hover {
    background-color: #00ff0d52; 
    background-image: linear-gradient(45deg, #cc2115, #00a0dc);
}
.button::target-text {
    color: #ffffff;
    text-align: middle;
}
h5 {
    color: #000000;
    text-align: center;
    margin-top: 50px;
} 
